.containerAbout{
  height: 800px;
}

.about, .lineDiv{
  display: flex;
  /*align-items: center; /*É por conta disso que o texto está no meio, alinhado com a img*/
  padding-inline: 1.25rem;
  /* padding-top: 5rem; */
  max-width: 1280px;
  margin-inline: auto;

}

.lineDiv{
  padding-block: 6rem;
}

.about__title{
  height: 5%;
  width: 100%;
  display: flex;
  font-weight: 500;
  font-size: 2.5rem;
  align-items: center;
  letter-spacing: -0.05em;
  justify-content: center;
}

.about{
  height: 35rem;
}

.about__lineDiv, .lineDiv__div{
  width: 100%;
  max-width: 1366px;
  background-color: white;
  height: 0.15rem;
  opacity: 0.6;
  border-radius: 0.5rem;
}

.about__leftImages{
  flex: 2;
  gap: 2rem;
  display: flex;
  /*align-items: center; /*É por conta disso que o texto está no meio, alinhado com a img*/
}

.about__imgPikachu{
  flex: 1;
  display: flex;
  align-items: end;
}

.img__Pikachu{
  max-width: 300px;
}
 
.about__icons{
  flex: 1;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-direction: column;
} 

.aboutAutoSlide{
  width: 100%;
  height: 10%;
  display: flex;
  color: #ffffff;
  overflow: hidden;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  /* box-shadow: 0 -0.1rem 1rem 0 rgba(0, 0, 0, 0.15); */
}

.aboutAutoSlide__items{
  gap: 1.5rem;
  width: 1800px;
  display: flex;
  position: absolute;
  align-items: center;
  /* padding-top: 1.75rem; */
  justify-content: center;
  animation: scrolling 20s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(-40%);
  }
}

.aboutAutoSlide__items img{
  width: 2rem;
}

.img__icon{
  max-width: 500px;
}

.about__iconsDesc{
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.about__rightInfo{
  flex: 1; 
  display: flex;
  max-width: 410px;
  margin-inline: auto;
  flex-direction: column;
  letter-spacing: -0.05em;
}

.container_Title{
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 2.5rem;
  padding-block: 3rem;
  flex-direction: column;
  padding-inline: 1.5rem;
}

.aboutRight__subTitle{
  color: #d6d445;
  font-weight: 600;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.aboutRight__title{
  font-weight: 500;
  font-size: 3rem;
}

.aboutRight__ul{
  flex: 2;
  width: 100%;
  padding-inline: 1.5rem;
}

.ul__li{
  gap: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
}

.ul__svg{
  width: 30px;
  color: #f0ed50;
}

.li__a{
  color: #f3f3f3;
  text-decoration: none;
}


.photo__icons{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__ul{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.icons__a{
  width: 1rem;
}

.icons__a svg{
  border-radius: 5rem;
  transform: translateY(0);
  transition: transform 0.5s, background 0.5s;
  background: rgb(65, 12, 65);
  box-shadow: 0 0.2rem 0.5rem black;
  /* border: 2px solid rgb(87, 16, 87); */
}

.icons__a svg:hover{
  background: rgb(148, 27, 148);
  transform: translateY(-1rem);
}

.about__card{
  width: 100%;
  display: flex;
  height: 420px;
  position: relative;
  border-radius: 100px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 4rem;
  box-shadow: 0 0.3rem 1rem #17091a;
  background: linear-gradient(-20deg, #040413, #5e2769);
}

.cardDecoration{
  width: 5rem;
  height: 5rem;
  right: -800px;
  bottom: 380px;
  position: absolute;
  border-radius: 5rem;
  box-shadow: 0 1rem 1.5rem #17091a;
  background: linear-gradient(150deg, #fe3838, #f0ed50);
}

.card__titles{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card__photo{
  width: 12rem;
  border-radius: 10rem;
  box-shadow: 0 1rem 1.5rem #17091a;
}

.card__titlePhoto{
  width: 100%;
  display: flex;
  letter-spacing: -0.05em;
  font-size: 2rem;
  font-weight: 400;
  align-items: center;
  justify-content: center;
}

.card__subTitlePhoto{
  width: 100%;
  display: flex;
  align-items: center;
  color: #f0ed50;
  letter-spacing: -0.05em;
  justify-content: center;
}

@media (width < 1284px){
  .about__leftImages{
    flex-direction: column;
  }
  .img__Pikachu{
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
  }
  .about__iconsDesc{
    font-size: 1.5rem;
  }
  .about{
    flex-direction: column;
  }
  .about__card{
    max-width: 360px;
  }
  .about__rightInfo{
    width: 100%;
    display: flex;
    padding-top: 3rem;
    justify-content: center;
  }
  .containerAbout{
    height: 1500px;
  }
  .aboutAutoSlide{
    max-width: 500px;
  }
  .about__icons{
    gap: 2rem;
  }
  .cardDecoration{
    left: 100px;
    bottom: 350px;
  }
  .photo__icons{
    padding-block: 3rem;
  }
}

@media (width < 1284px){
  .aboutRight__title{
    font-size: 2rem;
  }
}