.hero{
  display: flex;
  align-items: center; /*É por conta disso que o texto está no meio, alinhado com a img*/
  padding-inline: 1.25rem;
  padding-top: 1rem;
  max-width: 1366px;
  margin-inline: auto;
}

.hero__left{
  flex: 2;
}


.hero__right{
  flex: 1;
}

.hero__up-text {
  color: #b1a82e;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
}

.hero__title{
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.05em;
  margin-top: 0.5rem;
  max-width: 26ch;
}

.hero__description{
  font-size: 0.8rem;
  opacity: 0.6;
  font-weight: 400;
  line-height: calc(1em + 0.5rem);
  margin-block: 1.5rem;
  max-width: 95ch;
}

.hero__btn{
  /* color: #000; */
  font-size: 1rem;
  /* padding: 0.5em 2em; */
  /* border-radius: 6px; */
  letter-spacing: -0.05em;
  /* background: linear-gradient(to right, #fe3838, #f0ed50); */

  /* TESTE */
  transition: 0.5s;/**/
  color: white;
  margin: 40px 0;/**/
  margin-right: 30px;/**/
  display: inline-block;/**/
  padding: 15px 30px;/**/
  overflow: hidden;/**/
  position: relative;/**/
}

.hero__btn:hover{
  background: #f0ed50;
  color: #000;
  box-shadow: 
  0 0 5px #f0ed50
  0 0 25px #f0ed50
  0 0 50px #f0ed50
  0 0 200px #f0ed50
  ;

  -webkit-box-reflect: below 5px linear-gradient(transparent, rgba(0, 0, 85, 0.552));
}

.hero__btn:nth-child(1){
  filter: hue-rotate(270deg);
}

.hero__btn:nth-child(2){
  filter: hue-rotate(110deg);
}

.hero__btn span{
  display: block;
  position: absolute;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero__btn span:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f0ed50);
  animation: btn 1s linear infinite;
}

@keyframes btn{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;
  }
}

.hero__btn span:nth-child(2){
  top: -100;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f0ed50);
  animation: btn2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn2{
  0%{
    top: -100%;
  }
  50%, 100%{
    top: 100%;
  }
}

.hero__btn span:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f0ed50);
  animation: btn3 1s linear infinite;
  animation-delay: .50s;
}

@keyframes btn3{
  0%{
    right: -100%;
  }
  50%, 100%{
    right: 100%;
  }
}

.hero__btn span:nth-child(4){
  bottom: 100;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f0ed50);
  animation: btn4 1s linear infinite;
  animation-delay: .75s;
}

@keyframes btn4{
  0%{
    bottom: -100%;
  }
  50%, 100%{
    bottom: 100%;
  }
}


.hero__img{
  max-width: 400px;
}

@media (width < 1024px){
  /* .hero{
    flex-direction: column;
  } */
  .hero__title{
    max-width: 20ch;
  }
  .hero__description{
    max-width: 53ch;
  }
  .hero__img{
    width: 100%;
    max-width: 300px;
    margin-inline: auto;
  }
}

@media (width < 768px){
  .hero__title{
    font-size: 2.5rem;
  }
}