:root{
  --random-color: #000000;
}

.containerSides{
  display: flex;
  width: 100%;
  align-items: center;
  margin-inline: auto;
  padding-block: 3.5rem;
  justify-content: center;
}

.container__apresentation{
  flex: 1;
  display: flex;
  gap: 2rem;
  max-width: 600px;
  flex-direction: column;
}

.apresentation__subTitle{
  color: #f0e43f;
  font-weight: 600;
  font-size: 0.8rem;
  padding-inline: 1.5rem;
  text-transform: uppercase;
}

.apresentation__title{
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
  padding-bottom: 3rem;
  padding-inline: 1.5rem;
  justify-content: center;
}

.title__h1{
  color: #f0ed50;
  padding-inline: 0.85rem;
  text-transform: uppercase;
  border: 3px solid #f0ed50;
  box-shadow: 0.4rem 0.4rem 0 #f0ed50;
}

.apresentation__description{
  opacity: 0.7;
  font-size: 1rem;
  max-width: 95ch;
  font-weight: 400;
  text-align: center;
  padding-inline: 1.5rem;
  line-height: calc(1em + 0.5rem);
}

.apresentation__ul{
  gap: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.apresentation__li{
  font-weight: 600;
  border-radius: 1rem;
  padding-inline: 1rem;
  background-color: var(--random-color);
  text-transform: uppercase;
}

.container__photo{
  flex: 1;
  display: flex;
  perspective: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.photo__img{
  flex: 1;
  border-radius: 1rem;
  transform: rotateY(45deg);
  animation: returnBaseForm 0.5s forwards;
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 0 1rem 5rem rgba(255, 255, 255, 0.219);
}

.photo__img:hover{
  transform: rotateY(0deg);
  animation: effectInImg 0.5s forwards;
}

@keyframes returnBaseForm {
  0% {
      transform: scale(1.1) translateZ(20px);
  }
  100% {
      transform: scale(1) translateZ(0);
  }
}

@keyframes effectInImg {
  0% {
      transform: scale(1) translateZ(0);
  }
  100% {
      transform: scale(1.1) translateZ(20px);
  }
}

@media (width < 1024px){
  .container__apresentation{
    margin-inline: auto;
  }
  .containerSides{
    margin-inline: auto;
    flex-direction: column;
    gap: 3rem;
  }
  .apresentation__ul{
    flex-wrap: wrap;
  }
}