:root{
  --random-color: #000000;
}

.containerSides{
  display: flex;
  width: 100%;
  align-items: center;
  margin-inline: auto;
  padding-block: 3.5rem;
  justify-content: center;
}

.container__apresentation{
  flex: 1;
  display: flex;
  gap: 2rem;
  max-width: 600px;
  flex-direction: column;
}

.apresentation__subTitle{
  color: #f0e43f;
  font-weight: 600;
  font-size: 0.8rem;
  padding-inline: 1.5rem;
  text-transform: uppercase;
}

.apresentation__title{
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 2.5rem;
  align-items: center;
  justify-content: center;
}

.apresentation__view{
  width: 100%;
  display: flex;
  right: 22.5rem;
  align-items: center;
  padding-top: 1.5rem;
  text-decoration: none;
  justify-content: center;
}

.apresentation__svg{
  padding: 6px;
  width: 2.5rem;
  border-radius: 2rem;
  color: #fff;
  /* background-color: orange; */
  /* transform: translateZ(0); */
  /* animation: viewEffect 1s infinite; */ /*Efeito de chacoalho*/ 
  /* box-shadow: 0 0 0.5rem black; */
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.apresentation__svg:hover{
  color: #f0e43f;
  /* transform: translateZ(0.5rem); */
  box-shadow: 0 0 0.5rem #000000;
  background-color: rgb(212, 139, 2);
}

/* @keyframes viewEffect {
  0% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(2px);
  }
} */


.title__h1{
  color: #f0ed50;
  padding-inline: 0.85rem;
  text-transform: uppercase;
  border: 3px solid #f0ed50;
  box-shadow: 0.4rem 0.4rem 0 #f0ed50;
}

.apresentation__description{
  opacity: 0.7;
  font-size: 1rem;
  max-width: 95ch;
  font-weight: 400;
  text-align: center;
  padding-inline: 1.5rem;
  line-height: calc(1em + 0.5rem);
}

.apresentation__ul{
  gap: 1rem;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.apresentation__li{
  font-weight: 600;
  border-radius: 1rem;
  padding-inline: 1rem;
  color: #000000;
  background-color: var(--random-color);
  text-transform: uppercase;
}

.container__photo{
  flex: 1;
  display: flex;
  perspective: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  opacity: 0.8;
  filter: blur(5px);
  transform: rotateY(45deg);
  animation: returnBaseForm 0.5s forwards;
  transition: opacity 0.5s ease-in-out, filter 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.container__photo:hover{
  transition: 0.5s;
  border-radius: 5rem;
  opacity: 1;
  filter: blur(0);
  transform: rotateY(0deg);
  animation: effectInImg 0.5s forwards;
}

.photo__img{
  flex: 1;
  border-radius: 1rem;
  box-shadow: 0 1rem 5rem rgba(255, 255, 255, 0.219);
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  transform: rotateY(30deg) rotateX(10deg) translateY(0) translateZ(0);
}

.photo__img:hover {
  transform: rotateX(15deg) rotateY(-20deg) translateY(-1rem) translateZ(5rem);
}


 /* Os KeyFrames foram substituídos pelos transform - 1000 VEZES MELHOR */
@keyframes returnBaseForm {
  0% {
      transform: /*scale(1.1)*/ translateY(-1rem);
  }
  100% {
      transform: /*scale(1)*/ translateY(0);
  }
}

@keyframes effectInImg {
  0% {
      transform: /*scale(1)*/ translateY(0);
  }
  100% {
      transform: /*scale(1.1)*/ translateY(-1rem);
  }
}

@media (width < 1024px){
  .container__apresentation{
    margin-inline: auto;
  }
  .containerSides{
    gap: 3rem;
    margin-inline: auto;
    flex-direction: column;
  }
  .apresentation__ul{
    flex-wrap: wrap;
  }
  .container__photo{
    max-width: 500px;
  }
  .container__photo{
    opacity: 0.9;
    filter: none;
  }
}