.containerProjects{
  height: 2250px;
}

@media (width <= 1095px){
  .containerProjects{
   height: 2300px;
  }
}

@media (width < 1024px){
  .containerProjects{
   height: 3500px;
  }
}

@media (width <= 621px){
  .containerProjects{
    height: 3700px;
  }
}

@media (width <= 400px){
  .containerProjects{
    height: 3900px;
  }
}

@media (width <= 325px){
  .containerProjects{
    height: 4100px;
  }
}

